<!DOCTYPE html>
<html lang="en">
<head>
   <style>
     body {
       font-family: Verdana,Arial,sans-serif;
       font-size: 3em;
     }
     H1 {
       font-size: 1.2em;
       color: green
     }
     .aligncenter {
     text-align: center;
     }
    </style>
    <meta charset="UTF-8">
    <title>How Sweet it is to be Classified By You!</title>
</head>
<body>
  <p class="aligncenter">Do you want me to try to tell you if your food picture is sweet?</p>
  <p class="aligncenter">Please upload your image below!</p>
<form method='POST' enctype=multipart/form-data>
  <p class="aligncenter"><input type=file name=file>
     <input type=submit value=Upload>
</form>
</body>
</html>
