<!DOCTYPE html>
<html lang="en">
<head>
  <style>
    img {
  height: 25%;
  width: 25%; 
    }
     body {
       font-family: Verdana,Arial,sans-serif;
       font-size: 3em;
     }
     H1 {
       font-size: 1.2em;
       color: green
    }
    .aligncenter {
    text-align: center;
    }
    </style>
    <meta charset="UTF-8">
    <title>Is it sweet?</title>
    <H1></H1>
</head>
<body>
<p class="aligncenter">  Wow! What a delicious looking photo!</p>
<p class="aligncenter">
  <img src={{filename}} alt="Your food picture!", align="middle">
</p> 

  
<p class="aligncenter">  I'm about {{prob}} certain that the food in your image is {{result}}! </p>
</body>
</html>
